
<div class="flex justify-center text-grey-dark border-b border-blue-800">
    <a href='/get-detail/like' class="text-center text-white py-2 px-2 w-full text-sm hover:bg-blue-700 <%=(selectedMenu == 'like')?'bg-blue-700':'bg-blue-500'%>">
        <span class="icon-008"></span> <br>
        beğeni
    </a>
</div>

<div class="flex justify-center text-grey-dark border-b border-blue-800">
    <a href='/get-detail/tags' class="text-center text-white py-2 px-2 w-full text-sm hover:bg-blue-700 <%=(selectedMenu == 'tags')?'bg-blue-700':'bg-blue-500'%>">
        <span class="icon-020"></span> <br>
        etiketler
    </a>
</div>

<div class="flex justify-center text-grey-dark border-b border-blue-800">
    <a href='/get-detail/watching' class="text-center text-white py-2 px-2 w-full text-sm hover:bg-blue-700 <%=(selectedMenu == 'watching')?'bg-blue-700':'bg-blue-500'%>">
        <span class="icon-026"></span> <br>
        izlenme
    </a>
</div>

<div class="flex justify-center text-grey-dark border-b border-blue-800">
    <a href='/get-detail/filter' class="text-center text-white py-2 px-2 w-full text-sm hover:bg-blue-700 <%=(selectedMenu == 'filter')?'bg-blue-700':'bg-blue-500'%>">
        <span class="icon-039"></span> <br>
        filtreli
    </a>
</div>

<div class="flex justify-center text-grey-dark border-b border-blue-800">
    <a href='/get-detail/comments' class="text-center text-white py-2 px-2 w-full text-sm hover:bg-blue-700 <%=(selectedMenu == 'comments')?'bg-blue-700':'bg-blue-500'%>">
        <span class="icon-004"></span> <br>
        yorumlar
    </a>
</div>

<div class="flex justify-center text-grey-dark">
    <a href='/logout' class="text-center text-white py-2 px-2 w-full text-sm hover:bg-blue-700 bg-blue-500">
        <span class="icon-010"></span> <br>
        çıkış yap
    </a>
</div>